<section id="portfolio">
	<div class="container">
   	<div class="row">
      	<div class="col-lg-12">
<br><br>
<h2><a href="{{ page.url }}">{{ meta.title }}</a></h2>
<br>

<!-- Share Buttons - BEGIN -->
<script charset="utf-8" type="text/javascript">var switchTo5x=false;</script>
<script charset="utf-8" type="text/javascript" id="st_insights_js" src="https://ws.sharethis.com/button/buttons.js?publisher=ee6eb11e-dde0-492a-ac82-8a24f88148a0&product=sharethis-wordpress"></script>
<script charset="utf-8" type="text/javascript">stLight.options({"publisher":"ee6eb11e-dde0-492a-ac82-8a24f88148a0"});var st_type="wordpress4.9.8";</script>
<script charset="utf-8" type="text/javascript" src="https://ss.sharethis.com/loader.js"></script>
<!--
<script charset="utf-8" type="text/javascript">
var h_options={"publisher":"ee6eb11e-dde0-492a-ac82-8a24f88148a0","position":"left","chicklets_params":{"twitter":{"st_via":""},"instagram":{"st_username":""}},"chicklets":{"items":["email","whatsapp","twitter","facebook","sharethis"]}};var st_hover_widget = new sharethis.widgets.hoverbuttons(h_options);
</script>
-->
<p class="excerpt">
<span class='st_email_hcount' st_url='{{ page.url }}' st_title='{{ page.title }}'></span>
<span class='st_whatsapp_hcount' st_url='{{ page.url }}' st_title='{{ page.title }}'></span>
<span st_username='olafrv' class='st_twitter_hcount' st_url='{{ page.url }}' st_title='{{ page.title }}'></span>
<span class='st_facebook_hcount' st_url='{{ page.url }}' st_title='{{ page.title }}'></span>
<span class='st_sharethis_hcount' st_url='{{ page.url }}' st_title='{{ page.title }}'></span>
</p>
<!-- Share Buttons - END -->
					{{ content }}
				<p class="date"><b>Updated:</b> {{ meta.created }}</p>
			</div>
		</div>
	</div>
</section>
